<table class="table">
    <tbody>
        <tr>
            <th scope="row">Revised</th>
            <td><basic_datetimezone [datetimezone]="object.revised"></basic_datetimezone></td>
        </tr>
        <tr>
            <th scope="row">Sort</th>
            <td>{{ object.sort_name }} {{ object.sort_order }}</td>
        </tr>
        <tr>
            <th scope="row">Ascendants</th>
            <td>
                <span *ngFor="let p of object.ascendants.slice().reverse(); let isLast=last">
                    <object_link [object]="p"></object_link>
                    {{isLast ? '' : ' / '}}
                </span>
            </td>
        </tr>
    </tbody>
</table>
