<popup-error #error_element>{{ popup_error }}</popup-error>

<table *ngIf="!edit" class="table">
    <thead>
        <tr>
            <th>Actions</th>
            <td>
                <button *ngIf="permission.can_change" (click)="edit=true" class="btn btn-secondary" type="button">Edit
                </button>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">ID</th>
            <td>{{ object.id }}</td>
        </tr>
        <tr>
            <th scope="row">Revised</th>
            <td>
                <basic_datetimezone [datetimezone]="object.revised"></basic_datetimezone>
            </td>
        </tr>
        <tr>
            <th scope="row">Sort</th>
            <td>{{ object.sort_name }} {{ object.sort_order }}</td>
        </tr>
        <tr>
            <th scope="row">Ascendants</th>
            <td>
                <object_array [list]="object.ascendants.slice().reverse()" [sep]="' / '"></object_array>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="edit">
    <form [formGroup]="form_group" (ngSubmit)="submit()" novalidate>
        <div class="form-group" [class.has-warning]="!form_group.controls['title'].valid && form_group.controls['title'].touched">
            <label class="form-control-label" for="title">Title:</label>
            <input class="form-control" formControlName="title" id="title">
            <div class="form-control-feedback" *ngIf="!form_group.controls['title'].valid && form_group.controls['title'].touched">You must supply a valid title.</div>
        </div>
        <div class="form-group" [class.has-warning]="!form_group.controls['description'].valid && form_group.controls['description'].touched">
            <label class="form-control-label" for="description">Description:</label>
            <textarea class="form-control" formControlName="description" id="description"></textarea>
            <div class="form-control-feedback" *ngIf="!form_group.controls['description'].valid && form_group.controls['description'].touched">You must supply a valid description.</div>
        </div>  
        <div class="form-group" [class.has-warning]="!form_group.controls['cover_photo'].valid && form_group.controls['cover_photo'].touched">
            <label class="form-control-label" for="cover_photo">Cover Photo:</label>
            <photo-select class="form-control" formControlName="cover_photo" id="cover_photo" [criteria]="get_cover_photo_criteria()"></photo-select>
            <div class="form-control-feedback" *ngIf="!form_group.controls['cover_photo'].valid && form_group.controls['cover_photo'].touched">You must select a valid parent.</div>
        </div>
        <div class="form-group" [class.has-warning]="!form_group.controls['revised'].valid && form_group.controls['revised'].touched">
            <label class="form-control-label" for="revised">Revised:</label>
            <input class="form-control" formControlName="revised" id="revised">
            <div class="form-control-feedback" *ngIf="!form_group.controls['revised'].valid && form_group.controls['revised'].touched">You must select a valid date.</div>
        </div>
        <div class="form-group" [class.has-warning]="!form_group.controls['sort_name'].valid && form_group.controls['sort_name'].touched">
            <label class="form-control-label" for="sort_name">Sort Name:</label>
            <input class="form-control" formControlName="sort_name" id="sort_name">
            <div class="form-control-feedback" *ngIf="!form_group.controls['sort_name'].valid && form_group.controls['sort_name'].touched">You must supply a valid sort name.</div>
        </div>
        <div class="form-group" [class.has-warning]="!form_group.controls['sort_order'].valid && form_group.controls['sort_order'].touched">
            <label class="form-control-label" for="sort_order">Sort Order:</label>
            <input class="form-control" formControlName="sort_order" id="sort_order">
            <div class="form-control-feedback" *ngIf="!form_group.controls['sort_order'].valid && form_group.controls['sort_order'].touched">You must supply a valid sort order.</div>
       </div>
       <div class="form-group" [class.has-warning]="!form_group.controls['parent'].valid && form_group.controls['parent'].touched">
            <label class="form-control-label" for="parent">Parent:</label>
            <album-select class="form-control" formControlName="parent" id="parent"></album-select>
            <div class="form-control-feedback" *ngIf="!form_group.controls['parent'].valid && form_group.controls['parent'].touched">You must select a valid parent.</div>
        </div>
        <div style="margin-bottom: 1em">
            <button type="submit"
                    [disabled]="form_group.pristine || !form_group.valid" class="btn btn-success">Save
            </button> &nbsp;
            <button type="reset" (click)="revert()"
                    [disabled]="form_group.pristine" class="btn btn-danger">Revert
            </button> &nbsp;
            <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel
            </button>
        </div>

    </form>
</div>
