<ngb-alert *ngIf="error" [dismissible]="false">
    {{ error }}
</ngb-alert>
<div #details></div>
<div class="card" *ngIf="object">
    <h2 class="card-header">{{object.type_verbose}}: {{object.title}}</h2>
    <div class="card-block">
        <section class="text-center">
            <div class="container">
                <button type="button" class="btn btn-secondary" *ngIf="prev_id" (click)="load_prev_object()">&lt;&lt;</button>
                <photo_mid [photo]="object.cover_photo"></photo_mid>
                <button type="button" class="btn btn-secondary" *ngIf="more_pages()" (click)="load_next_object()">&gt;&gt;</button>
                <p class="lead text-muted">{{object.description}}</p>
                <p>
                    <a (click)="goto_children()" class="btn btn-secondary" *ngIf="!child_list.empty">Children</a>
                    <a (click)="goto_photos()" class="btn btn-secondary" *ngIf="photo_list && !photo_list.empty">Photos</a>
                </p>
                <album_infobox *ngIf="object.type_name==='albums'" [object]="object"></album_infobox>
                <category_infobox *ngIf="object.type_name==='categorys'" [object]="object"></category_infobox>
                <person_infobox *ngIf="object.type_name==='persons'" [object]="object"></person_infobox>
                <place_infobox *ngIf="object.type_name==='places'" [object]="object"></place_infobox>
                <photo_infobox *ngIf="object.type_name==='photos'" [object]="object"></photo_infobox>
            </div>
        </section>

        <div #children></div>
        <album_list *ngIf="type_obj.type_name==='albums'" [list]="child_list" title="{{object.type_verbose}}: {{ object.title }}: Children"></album_list>
        <category_list *ngIf="type_obj.type_name==='categorys'" [list]="child_list" title="{{object.type_verbose}}: {{ object.title }}: Children"></category_list>
        <person_list *ngIf="type_obj.type_name==='persons'" [list]="child_list" title="{{object.type_verbose}}: {{ object.title }}: Children"></person_list>
        <place_list *ngIf="type_obj.type_name==='places'" [list]="child_list" title="{{object.type_verbose}}: {{ object.title }}: Children"></place_list>
        <photo_list *ngIf="type_obj.type_name==='photos'" [list]="child_list" title="{{object.type_verbose}}: {{ object.title }}: Children"></photo_list>

        <div #photos></div>
        <album_list *ngIf="type_obj.type_name==='albums' && photo_list" [list]="photo_list" title="{{object.type_verbose}}: {{ object.title }}: Photos"></album_list>
        <category_list *ngIf="type_obj.type_name==='categorys' && photo_list" [list]="photo_list" title="{{object.type_verbose}}: {{ object.title }}: Photos"></category_list>
        <person_list *ngIf="type_obj.type_name==='persons' && photo_list" [list]="photo_list" title="{{object.type_verbose}}: {{ object.title }}: Photos"></person_list>
        <place_list *ngIf="type_obj.type_name==='places' && photo_list" [list]="photo_list" title="{{object.type_verbose}}: {{ object.title }}: Photos"></place_list>
        <photo_list *ngIf="type_obj.type_name==='photos' && photo_list" [list]="photo_list" title="{{object.type_verbose}}: {{ object.title }}: Photos"></photo_list>
    </div>
</div>
