<popup-error #error_element>{{ popup_error }}</popup-error>

<ngb-alert *ngIf="error" [dismissible]="false">
    {{ error }}
</ngb-alert>

<div *ngIf="!activated_photo">

    <div *ngIf="list">
        <h2>List of {{type_obj.type_verbose}}</h2>
        <object_list [list]="list" [selected_object]="object" (selected_object_change)="select_object($event)"></object_list>
    </div>

    <div *ngIf="object">
        <div class="card-block">
            <section class="text-center">
                <div class="container">
                    <h2>{{object.type_verbose}}: {{object.title}}</h2>
                    <div #image class="image">
                        <button type="button" class="btn btn-secondary btn-prev" *ngIf="has_prev_page()" (click)="load_prev_object()">&lt;&lt;</button>
                        <photo_mid *ngIf="!is_fullscreen" [photo]="object.cover_photo"></photo_mid>
                        <photo_large *ngIf="is_fullscreen" [photo]="object.cover_photo"></photo_large>
                        <button type="button" class="btn btn-secondary btn-next" *ngIf="has_next_page()" (click)="load_next_object()">&gt;&gt;</button>
                    </div>
                    <markdown>{{object.description}}</markdown>
                    <p>
                        <button type="button" (click)="full_screen()" class="btn btn-secondary">Full Screen</button>
                        <button type="button" (click)="create_object()" class="btn btn-secondary" *ngIf="permission.can_create">Create</button>
                        <button type="button" (click)="delete_object()" class="btn btn-secondary" *ngIf="permission.can_delete">Delete</button>
                        <button type="button" *ngIf="show_close" class="btn btn-secondary"  (click)="on_close.emit(null)">Close</button>
                    </p>
                    <album_infobox *ngIf="type_obj.type_name==='albums'" [object]="object" [permission]="permission"></album_infobox>
                    <category_infobox *ngIf="type_obj.type_name==='categorys'" [object]="object" [permission]="permission"></category_infobox>
                    <person_infobox *ngIf="type_obj.type_name==='persons'" [object]="object" [permission]="permission"></person_infobox>
                    <place_infobox *ngIf="type_obj.type_name==='places'" [object]="object" [permission]="permission"></place_infobox>
                    <photo_infobox *ngIf="type_obj.type_name==='photos'" [object]="object" [permission]="permission"></photo_infobox>
                </div>
            </section>
        </div>
    </div>

    <div *ngIf="!child_list_empty">
        <h2>{{object.title}}: Children</h2>
        <object_list [list]="child_list" (activated_object_change)="select_object($event)"></object_list>
    </div>

    <div *ngIf="!photo_list_empty">
        <h2>{{object.title}}: Photos</h2>
        <object_list [list]="photo_list" [selected_object]="selected_photo" (selected_object)="selected_photo=$event" (activated_object_change)="activated_photo=$event"></object_list>
    </div>

</div>

<div *ngIf="activated_photo">
    <photo_detail [list]="photo_list" [object]="activated_photo" (object_change)="selected_photo=$event" [show_close]="true" (on_close)="activated_photo=null"></photo_detail>
</div>
