<popup-error #error_element>{{ popup_error }}</popup-error>

<ngb-alert *ngIf="error" [dismissible]="false">
    {{ error }}
</ngb-alert>

<tabset #tab>

    <tab *ngIf="list" heading="List" id="list"[active]="active_tab === 'list'">
        <object_list [list]="list" [selected_object]="object" (selected_objectChange)="select_object($event)"></object_list>
    </tab>

    <tab *ngIf="object" [heading]="object?.title || 'null'" id="object" [active]="active_tab === 'object'">
        <div *ngIf="object" class="card-block">
            <section class="text-center">
                <div class="container">
                    <h1>{{object.type_verbose}}: {{object.title}}</h1>
                    <div #image class="image">
                        <button type="button" class="btn btn-secondary btn-prev" *ngIf="has_prev_page()" (click)="load_prev_object()">&lt;&lt;</button>
                        <photo_mid *ngIf="!is_fullscreen" [photo]="object.cover_photo"></photo_mid>
                        <photo_large *ngIf="is_fullscreen" [photo]="object.cover_photo"></photo_large>
                        <button type="button" class="btn btn-secondary btn-next" *ngIf="has_next_page()" (click)="load_next_object()">&gt;&gt;</button>
                    </div>
                    <p class="lead text-muted">{{object.description}}</p>
                    <p>
                        <button type="button" (click)="select_children_tab()" class="btn btn-secondary" *ngIf="!child_list_empty">Children</button>
                        <button type="button" (click)="select_photos_tab()" class="btn btn-secondary" *ngIf="!photo_list_empty">Photos</button>
                        <button type="button" (click)="full_screen()" class="btn btn-secondary">Full Screen</button>
                        <button type="button" (click)="create_object()" class="btn btn-secondary" *ngIf="permission.can_create">Create</button>
                        <button type="button" (click)="delete_object()" class="btn btn-secondary" *ngIf="permission.can_delete">Delete</button>
                    </p>
                    <album_infobox *ngIf="type_obj.type_name==='albums'" [object]="object" [permission]="permission"></album_infobox>
                    <category_infobox *ngIf="type_obj.type_name==='categorys'" [object]="object" [permission]="permission"></category_infobox>
                    <person_infobox *ngIf="type_obj.type_name==='persons'" [object]="object" [permission]="permission"></person_infobox>
                    <place_infobox *ngIf="type_obj.type_name==='places'" [object]="object" [permission]="permission"></place_infobox>
                    <photo_infobox *ngIf="type_obj.type_name==='photos'" [object]="object"></photo_infobox>
                </div>
            </section>
        </div>
    </tab>

    <tab *ngIf="!child_list_empty" heading="Selected Children" id="children" [active]="active_tab === 'children'">
        <div *ngIf="!child_list_empty" class="card-block">
            <album_list *ngIf="type_obj.type_name==='albums'" [list]="child_list" title="{{type_obj.type_verbose}}: {{ object.title }}: Children"></album_list>
            <category_list *ngIf="type_obj.type_name==='categorys'" [list]="child_list" title="{{type_obj.type_verbose}}: {{ object.title }}: Children"></category_list>
            <person_list *ngIf="type_obj.type_name==='persons'" [list]="child_list" title="{{type_obj.type_verbose}}: {{ object.title }}: Children"></person_list>
            <place_list *ngIf="type_obj.type_name==='places'" [list]="child_list" title="{{type_obj.type_verbose}}: {{ object.title }}: Children"></place_list>
            <photo_list *ngIf="type_obj.type_name==='photos'" [list]="child_list" title="{{type_obj.type_verbose}}: {{ object.title }}: Children"></photo_list>
        </div>
    </tab>

    <tab *ngIf="!photo_list_empty" heading="Selected Photos" id="photos" [active]="active_tab === 'photos'">
        <photo_list *ngIf="photo_list" [list]="photo_list" title="{{object.type_verbose}}: {{ object.title }}: Photos"></photo_list>
    </tab>

</tabset>
