<div class="card" [ngbCollapse]="list.empty">
    <h2 class="card-header">{{title}}</h2>
    <div class="card-block">
        <object_list [list]="list" [(selected_object)]="selected_object"></object_list>
    </div>
</div>

<div *ngIf="selected_object" >
    <album_detail    *ngIf="selected_object.type_name==='albums'"    [list]="list" [object]="selected_object" (object_selected)="select_object($event)"></album_detail>
    <category_detail *ngIf="selected_object.type_name==='categorys'" [list]="list" [object]="selected_object" (object_selected)="select_object($event)"></category_detail>
    <person_detail   *ngIf="selected_object.type_name==='persons'"   [list]="list" [object]="selected_object" (object_selected)="select_object($event)"></person_detail>
    <place_detail    *ngIf="selected_object.type_name==='places'"    [list]="list" [object]="selected_object" (object_selected)="select_object($event)"></place_detail>
    <photo_detail    *ngIf="selected_object.type_name==='photos'"    [list]="list" [object]="selected_object" (object_selected)="select_object($event)"></photo_detail>
</div>
