<ngb-alert *ngIf="error" [dismissible]="false">
    {{ error }}
</ngb-alert>
<div class="photo_list">
    <object_list_item
        *ngFor="let object of objects"
        [object]="object"
        [selected]="selected_object && selected_object.id==object.id"
        (selected_change)="select_object(object)"
        (activated_change)="activate_object(object)"
    ></object_list_item>

    <div class="photo_item" *ngIf="!list_finished">
        <button type="button" (click)="get_next_page(); $event.stopPropagation()" aria-label="Load more.">Load more...</button>
    </div>
</div>
