/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* PHOTO LIST */
.photo_item {
    border: 1px solid #dddddd;
}
.photo_item:HOVER {
    border: 1px solid #000;
}
.photo_item .title {
    font-weight: bold;
}
.photo_item.selecting {
    background: #FECA40;
}
.photo_item .desc {
    text-align: left;
}
.photo_item .desc ul {
    text-align: left;
}
.photo_item .desc ol {
    text-align: left;
}

.photo_item a {
    color: #333;
    text-decoration: none;
}

.photo_list {
//    display: flex;
    border: 1px solid #666;
//    overflow-y: scroll;
//    background: #fff;
}
.photo_list > ul {
    padding: 0;
    margin: 0;
}
.photo_list .removed {
    text-decoration: line-through;
    opacity: 0.5;
}
.photo_list .regenerate {
    background: #CCE;
    color: #333;
}
.photo_list .selected {
    background: #F39814;
}
.photo_list.disabled {
    background: #ddd;
}
.photo_list .photo_item {
    display: inline-block;
    vertical-align: top;
    height: 170px;
    margin: 10px;
    padding-top: 10px;
    text-align: center;
    width: 140px;
}
