/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import "../node_modules/prismjs/themes/prism.css";

body {
  padding-top: 56px;
}

.card {
  margin: 10px;
}

.card .collapse.show {
    display: block;
}

.card .collapse {
    display: none;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.text-center table {
    text-align: left;
}

/* PHOTO LIST */
.photo_item {
    border: 1px solid #dddddd;
    .title {
        font-weight: bold;
    }
    .desc {
        text-align: left;
    }
    .desc ul {
        text-align: left;
    }
    .desc ol {
        text-align: left;
    }
    a {
        color: #333;
        text-decoration: none;
    }
    &:HOVER {
        border: 1px solid #000;
    }
}

.photo_list {
    .removed {
        text-decoration: line-through;
        opacity: 0.5;
    }
    .regenerate {
        background: #CCE;
        color: #333;
    }
    .selecting {
        background: #FECA40;
    }
    .selected {
        background: #F39814;
    }
    .photo_item {
        display: inline-block;
        vertical-align: top;
        height: 170px;
        margin: 10px;
        padding-top: 10px;
        text-align: center;
        width: 140px;
    }
}
@mixin fullscreen() {
    &:-webkit-full-screen {
        @content;
    }
    &:-moz-full-screen {
        @content;
    }
    &:-ms-fullscreen {
        @content;
    }
    &:fullscreen {
        @content;
    }
}

.image {
    img {
        object-fit: contain;
        max-width:100%;
        height:100%;
    }

    video {
        vertical-align: middle;
        object-fit: contain;
        max-width:100%;
        height:100%;
    }

    @include fullscreen() {
        background: black;
        color: white;
        width: 100%;
        height: 100%;

        .btn-prev {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            z-index: 1;
        }

        .btn-next {
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(-100%, -50%);
            z-index: 1;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            z-index: 0;
        }

        video {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            z-index: 0;
        }
    }
}
